.home-page {
  min-height: 100vh;
  background: radial-gradient(
      circle at top right,
      rgba(60, 120, 255, 0.15),
      transparent 60%
    ),
    linear-gradient(180deg, #020617, #020617);
  color: white;
}

/* HERO */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 8%;
}

.hero-left {
  max-width: 620px;
}

.hero-left h1 {
  font-size: 3.4rem;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 20px;
}

.subtitle {
  color: #cbd5f5;
  font-size: 1.1rem;
  margin-bottom: 35px;
}

/* REDIRECT TO CHAT PAGE */

.chat-link button {
  margin-top: 20px;
  padding: 20px 200px;
  font-size: 16px;
  color: #020617;
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.25s ease;
}

.chat-link :hover{
  transform: translateY(-6px);
  background: #edb009;
  color: white;
}

/* FEATURES */
.features {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.feature-card {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 14px;
  width: 180px;
  transition: 0.25s ease;
}

.feature-card:hover {
  transform: translateY(-6px);
  background: rgba(255, 255, 255, 0.08);
}

.feature-card h3 {
  font-size: 1.05rem;
  margin-bottom: 10px;
}

/* RIGHT SIDE */
.hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.scale-icon {
  font-size: 200px;
  filter: drop-shadow(0 0 40px rgba(100, 255, 255, 0.4));
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  color: #94a3b8;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}
