:root {
  --bg-color: #1e1e2e;
  --sidebar-bg: #181825;
  --user-msg-bg: #313244;
  --bot-msg-bg: #45475a;
  --accent: #89b4fa;
  --text: #cdd6f4;
}


.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 280px;
  background-color: var(--sidebar-bg);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-right: 1px solid #313244;
}

.sidebar-title {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9ca3af;
  margin-bottom: 10px;
}

/* Improve active case */
.session-item.active {
  background: linear-gradient(
    90deg,
    rgba(137, 180, 250, 0.15),
    transparent
  );
  border-left: 3px solid var(--accent);
  color: white;
  font-weight: 500;
}

.new-chat-btn {
  background: #edb009;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

.session-list {
  overflow-y: auto;
  flex: 1;
}

/* Chat Window */
.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Messages */
.message {
  padding: 15px;
  border-radius: 8px;
  max-width: 80%;
}

.message.user {
  align-self: flex-end;
  background-color: var(--user-msg-bg);
}

.message.bot {
  align-self: flex-start;
  background-color: var(--bot-msg-bg);
}

/* Input */
.input-area {
  padding: 20px 10%;
  border-top: 1px solid #313244;
  display: flex;
  gap: 10px;
}

.input-area input {
  flex: 1;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #313244;
  background-color: var(--user-msg-bg);
  color: var(--text);
}

.input-area button {
  background: #edb009;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}